button{
    padding-top:$s16;
    padding-bottom:$s16;
    padding-left:$s16;
    padding-right:$s16;
    @include font(0.875rem, 500, 0, 17px);
    color:$white;
    text-align:center;
    border-radius:$r12;

    &:hover{
        cursor: pointer;
    }

    &:disabled{
        pointer-events: none;
        cursor: not-allowed;
        opacity: 25%;
    }

}

.btnPrimary{
    background-color:$blue500;
    border:none;

    &:hover{
        background-color:$blue700;
    }
}

.btnSecondary{
    background-color:$Neutral100;
    border:none;
    color:$Neutral600;

    &:hover{
        background-color:$Neutral200;
    }
}


.borderBtn{
    border:1px solid $Neutral300;
    background-color:$white;
    color:$Neutral950;
}

.noteControl{
    border:1px solid $Neutral300;
    background-color:$white;
    color:$Neutral950;
    display: flex;
    align-items: center;
    gap:$s8;

    &:hover{
        background-color:$Neutral100;
        cursor: pointer;
    }
}

.fullWidth{
    width:100%;
}

.btnGoogle{
    background-color:$white;
    border:$Neutral300 1px solid;
    color:$Neutral950;
    display:flex;
    align-items: center;
    gap:$s16;
    justify-content: center;
    padding-top:$s12;
    padding-bottom:$s12;

    &:hover{
        border:1px solid $Neutral100;
        background-color:$Neutral100;
    }
}

a{
    text-decoration:none;
    color:$blue500;
    font-weight:500;

    &:hover{
        text-decoration:underline;
    }
}

