.tag{
    display:flex;
    padding-right:$s8;
    padding-left:$s8;
    padding-top:$s4;
    padding-bottom:$s4;

    background-color:$Neutral200;
    flex:0;

    border-radius:$r4;

    color:$Neutral950;
}