.tag{
    
    padding-right:$s8;
    padding-left:$s8;
    padding-top:$s2;
    padding-bottom:$s2;
  

    background-color:$Neutral200;
   


    border-radius:$r4;

    color:$Neutral950;
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
  
    gap:$s4;
  
}