.tag{
    display:flex;
    padding-right:$s8;
    padding-left:$s8;
    padding-top:$s4;
    padding-bottom:$s4;
    align-items: center;

    background-color:$Neutral200;
    flex:0;

    border-radius:$r4;

    color:$Neutral950;
}

.tagContainer{
    display: flex;
    flex-wrap: wrap;
  
    gap:$s4;
  
}