/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 1.25rem;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h4 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.pSmall {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.75rem;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.floatingCard {
  background-color: #FFFFFF;
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 12px;
  box-shadow: 0px 8px 12px 0px rgba(240, 240, 240, 0.6);
}
@media (min-width: 768px) {
  .floatingCard {
    width: 540px;
  }
}
@media screen and (max-width: 768px) {
  .floatingCard {
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 375px) {
  .floatingCard {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}
.floatingCard > div:nth-child(3) {
  padding-top: 24px;
}
.floatingCard div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.floatingCard div h1 {
  color: #0E121B;
}
.floatingCard div p {
  color: #525866;
}
.floatingCard form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.floatingCard .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.floatingCard .horizontalRule {
  height: 1px;
  width: 100%;
  background-color: #E0E4EA;
  margin-top: 24px;
  margin-bottom: 24px;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.inputField label {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #0E121B;
  width: 100%;
  text-align: left;
}
.inputField input {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #0E121B;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  border: #CACFD8 1px solid;
}
.inputField input::-moz-placeholder {
  color: #717784;
}
.inputField input::placeholder {
  color: #717784;
}
.inputField input:focus {
  border: #2547D0 1px solid;
  outline: none;
  box-shadow: 0px 0px 25px -6px rgba(37, 71, 208, 0.5);
}

button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  text-align: center;
  border-radius: 12px;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 25%;
}

.btnPrimary {
  background-color: #335CFF;
  border: none;
}
.btnPrimary:hover {
  background-color: #2547D0;
}

.btnSecondary {
  background-color: #F3F5F8;
  border: none;
  color: #525866;
}
.btnSecondary:hover {
  background-color: #E0E4EA;
}

.borderBtn {
  border: 1px solid #CACFD8;
  background-color: #FFFFFF;
  color: #0E121B;
}

.noteControl {
  border: 1px solid #CACFD8;
  background-color: #FFFFFF;
  color: #0E121B;
  display: flex;
  align-items: center;
  gap: 8px;
}
.noteControl:hover {
  background-color: #F3F5F8;
  cursor: pointer;
}

.warningBtn {
  background-color: #FB3748;
  border: none;
  color: #FFFFFF;
}
.warningBtn:hover {
  background-color: #c81824;
}

.fullWidth {
  width: 100%;
}

.btnGoogle {
  background-color: #FFFFFF;
  border: #CACFD8 1px solid;
  color: #0E121B;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btnGoogle:hover {
  border: 1px solid #F3F5F8;
  background-color: #F3F5F8;
}

a {
  text-decoration: none;
  color: #335CFF;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}

.sidenav {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  color: #2B303B;
  gap: 16px;
  width: 272px;
  height: 100%;
  border-right: 1px solid #E0E4EA;
}
.sidenav .navList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidenav .navList .navHeader {
  color: #717784;
}
.sidenav .navList .navItemContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidenav .navList .navItem {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
.sidenav .navList .navItem:hover {
  background-color: #F5F7FA;
  border-radius: 8px;
  cursor: pointer;
}
.sidenav .navList .navTag {
  justify-content: space-between;
}
.sidenav .navList .navTag .iconAndTitle {
  display: flex;
  gap: 8px;
}
.sidenav .navList .navTag:hover .tagDelete {
  visibility: visible;
}
.sidenav .navList .navTag .tagDelete {
  visibility: hidden;
  border-radius: 4px;
}
.sidenav .navList .navTag .tagDelete:hover {
  background-color: #E0E4EA;
  color: #FFFFFF;
}

.topHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E4EA;
  color: #0E121B;
}
.topHeader div {
  display: flex;
  gap: 16px;
}
.topHeader div .settingsButton {
  background-color: #FFFFFF;
  border: none;
}
.topHeader div .settingsButton img {
  filter: invert(50%) sepia(20%) saturate(234%) hue-rotate(183deg) brightness(88%) contrast(88%);
}
.topHeader div .settingsButton:hover img {
  filter: invert(30%) sepia(34%) saturate(7429%) hue-rotate(225deg) brightness(102%) contrast(101%);
}

.searchBar {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #CACFD8;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.searchBar img {
  filter: invert(50%) sepia(20%) saturate(234%) hue-rotate(183deg) brightness(88%) contrast(88%);
}
.searchBar input {
  border-style: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #0E121B;
}
.searchBar input:focus {
  outline: none;
}

.noteList {
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #E0E4EA;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
  gap: 16px;
}
.noteList .noteListContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.noteList .noteListContainer .emptyNoteList {
  background-color: #F3F5F8;
  padding: 8px;
  border-radius: 8px;
  color: #0E121B;
}

.noteListItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E0E4EA;
}
.noteListItem h3 {
  color: #0E121B;
}
.noteListItem .date {
  color: #2B303B;
}
.noteListItem:hover {
  background-color: #F5F7FA;
  cursor: pointer;
}

.tag {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #E0E4EA;
  border-radius: 4px;
  color: #0E121B;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.noteContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  flex: 1;
}
.noteContent .noteContentHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.noteContent .noteContentHeader .noteTitleInput {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border: none;
  width: 100%;
}
.noteContent .noteContentHeader .noteTitleInput:focus {
  outline: none;
}
.noteContent .noteContentHeader .detailsCont {
  color: #2B303B;
  display: flex;
  align-items: center;
}
.noteContent .noteContentHeader .detailsCont .detailsTitleCont {
  display: flex;
  gap: 6px;
  width: 115px;
}
.noteContent .noteContentHeader .detailsCont .detailsTitleCont .detailsIcon {
  width: 16px;
  filter: invert(13%) sepia(5%) saturate(3136%) hue-rotate(184deg) brightness(92%) contrast(83%);
}
.noteContent textarea {
  resize: none;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.noteContent textarea:focus {
  outline: none;
}

.addTag {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: solid 1px #E0E4EA;
  border-radius: 4px;
}
.addTag img {
  width: 16px;
}
.addTag:hover {
  border: solid 1px #CACFD8;
  background-color: #F3F5F8;
  cursor: pointer;
}

.saveBar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-top: 1px solid #E0E4EA;
  padding-top: 16px;
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}
.modalHeader h3 {
  color: #0E121B;
}
.modalHeader p {
  color: #2B303B;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: solid 1px #E0E4EA;
}

.noteControls {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #E0E4EA;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  gap: 16px;
}

.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F5F8;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.dashboard .main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard .main .notePane {
  display: flex;
  flex: 1;
}

.horizontalRule {
  height: 1px;
  width: 100%;
  background-color: #E0E4EA;
}/*# sourceMappingURL=style.css.map */